/* Navigation bar */
#navbar ul {
  list-style-type: none;
  margin: ;
  padding: 0px 35px;
  overflow: hidden;
  background-color: #eee;
}

#navbar ul li {
  
}

#navbar ul li a {
  display: inline-block;
  text-decoration: none;
  padding: 14px 18px;
  font-size: 15px;
}

#navbar ul li a:hover {
  background-color: #;
}

.active {
  background-color: #ddd;
}

.nav-left {
  float: left;
}

.nav-right {
  float: right;
}

/* Features */
#features {
  position: relative;
  width: 90%;  
  left: 5%;
}

.feature {
  background-color: #f1f1f1;
  padding: 10px 14px;
  margin: 3px 0px;
  border-right: 1px solid #e6e6e6;
  color: #0088bb;
  cursor: pointer;
}

.feature:hover {
  background-color: #e6e6e6;
}

/* Banner */
#banner {
  background-color: #0077aa;
  min-height: 280px;
  margin: 30px 0px;
}

#banner h1 {
  color: white;
  position: absolute;
  left: 5%;
}
/* Dashboard */
#yourReqsBtn {
  color: white;
  background-color: #093;
  border: 1px solid #063;
  border-radius: 3px;
  padding: 7px;
  margin-top: 10px;
}

#yourReqsBtn:hover {
  background-color: #00b33c;
}

#reqsForYouBtn {
  color: white;
  background-color: #06f;
  border: 1px solid #05f;
  border-radius: 3px;
  padding: 7px;
}

#reqsForYouBtn:hover {
  background-color: #1a75ff;
}

.reqList {
  position : relative;
}

.req {
  border-bottom: 1px solid #ddd;
  margin: 8px 0px;
  padding: 8px 0px;
  color: #08b;
}

.req:hover {
  background-color: #eee;
}

.delBook, .delReq {
  position: absolute;
  top: 1px;
  right: 10px;
  width: 20px;
  height: 20px;
  text-align: center;
  color: #f55;
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
}

.delReq:hover, .delBook:hover {
  color: #f22;
}

.approve {
  position: absolute;
  top: 1px;
  right: 30px;
  width: 20px;
  height: 20px;
  text-align: center;
  float: right;
  color: #5b5;
  font-weight: bold;
  font-size: 26px;
  cursor: pointer;
  z-index: 1;
}

.approve:hover {
  color: #090;
}

/* Books */
.request {
  position: absolute;
  left: px;
  top: -5px;
  width: 30px;
  height: 30px;
  text-align: center;
  border: px solid #333;
  color: #ff6666;
  cursor: pointer;
  font-size: 26px;
  font-weight: bold;
}

.request:hover {
  color: #ff1a1a;
}

/* Input */
input {
  padding: 7px;
  min-width: 300px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

input:hover {
  border: 1px solid #0099e6;
}

/* My books */
#addBtn {
  padding: 7px;
  width: 50px;
  border-radius: 3px;
  border: 1px solid #06f;
  background-color: #05f;
  color: white;
}

#addBtn:hover {
  background-color: #1a75ff;
}
/* Setting */
#currentPassword {
  margin: 10px 0px;
}

#changePassword {
  margin: 10px 0px;  
}

#savePass, #saveProfile {
  padding: 7px;
  margin: 6px 0px;
  border-radius: 3px;
  border: 1px solid #06f;
  background-color: #05f;
  color: white;
}

#savePass:hover, #saveProfile:hover {
  background-color: #1a75ff;
}

/* Login, register */
#loginBtn, #regBtn {
  padding: 7px;
  margin: 6px 0px;
  border-radius: 3px;
  border: 1px solid #06f;
  background-color: #05f;
  color: white;
}

#loginBtn:hover, #regBtn:hover {
  background-color: #1a75ff;
}