doctype html
html
    head
        title Sign up
        meta(charset="utf-8")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" type="text/css")
        link(rel="stylesheet" href="/public/css/main.css" type="text/css")
    body
        #navbar 
            ul
                li.nav-left: a(href="/") boooks
                li.nav-left: a(href="/") Home
                if auth
                    li.nav-right: a(href="/logout") Logout
                    li.nav-right: a(href="/setting") Setting
                    li.nav-right: a(href="/mybooks") My Books
                    li.nav-right: a(href="/allbooks") All Books
                else 
                    li.nav-right: a(href="/login") Login
                    li.nav-right: a(href="/signup").active Sign up
        .container
            h1 Register
            br
            form(action="/signup", method="post")
                h5: b Name:
                input#regName(type="text", name="name")
                h5: b Email:
                input#regEmail(type="email", name="email")
                h5: b Password:
                input#regPass(type="password", name="password")
                br
                br
                button#loginBtn Login
                button#regBtn(type="submit") Register
            
            